/* CSS declarations go here */
body, html {
  margin:0px;
  padding:0px;
  overflow: hidden;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;
}

h1 {
  font-size: 4em;
}

#map {
  width: 75%;
  height: 650px;
  float: left;
}

#video_map {
  width: 300px;
  height: 300px;
  border-radius: 75px;
  position: absolute;
  left: 3%;
  top: 10%;
  z-index: 3;
  box-shadow:0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

#controller {
  width: 600px;
  height: 70px;
  top: 80%;
  left: 30%;
  border-radius: 25px;
  position: absolute;
  background-color: white;
  z-index: 2;
  box-shadow:0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

#pano {
  position:absolute;
  right:0;
  z-index: 0;
  height: 100vh;
}

.userlist {
  float: right;
  width: 25%;
}

.shareContainer {
  width: 100%;
}

.share-button {
  display: inline-block;
}

.videoLink {
  right: 300px;
}

.loader {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  text-align: center;
}

.percentage {
  text-align: center;
}


.controlsContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.image {
  width: 100%;
  display: inline-block;
}

.blockText {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  text-align: center;
}
